//txt fonts
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
//txt color
$primary-text-color: #212121;
$first-text-color: #757575;
$second-text-color: #ffffff;
$accent-text-color: #2196f3;
$black:#000000;
$greyColor: #F5F4FA;
$main-bgr-color: #c4c4c4;
$second-background-color: #2f303a;
$accent-btn-background-color: #2196f3;
$icon-hover-backgr-color: #2196f3;
$accent-hover-color: #188ce8;
$icon-color: #afb1b8;
$icon-hover-color: #ffffff;
$border-color:#EEEEEE;
$header-line-color: #ECECEC;
$color-transparency-06: rgba(255, 255, 255, 0.6);
$color-transparency-03: rgba(255, 255, 255, 0.3);
$color-transparency-01: rgba(255, 255, 255, 0.1);


//txt weidth

$weidth-regular: 400;
$weidth-medium: 500;
$weidth-bold: 700;
$weidth-black: 900;

//txt size

$size-tiny: 12px;
$size-small: 14px;
$size-medium: 16px;
$size-big: 18px;
$size-large: 20px;
$size-logo: 26px;
$size-title-1: 36px;
$size-title: 44px;

//letter spasing
$spacing-tiny: 0.01em;
$spacing-small: 0.02em;
$spacing-medium: 0.03em;
$spacing-big: 0.06em;

$margin-block: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 250ms;



// //color
// $accentColor: #2196F3;
// $mainColor: #757575;
// $headerColor: #212121;
// $lineColor: #ECECEC;
// $bgColor: #C4C4C4;
// $black:#000000;
// $white:#FFFFFF;
// $hoverColor: #188ce8;
// $gradColor: rgba(47, 48, 58, 0.4);
// $backdrop: rgba(0, 0, 0, 0.2);
// $footerColor: #2F303A;
// $txtColor: rgba(255, 255, 255, 0.6);
// $socialColor: #afb1b8;
// $greyColor: #F5F4FA;
// $borderColor:#EEEEEE;

// //txt fonts
// $mainFont: 'Roboto', sans-serif;
// $logoFont: 'Raleway', sans-serif;

// $regularFont: 400;
// $mediumFont: 500;
// $boldFont: 700;
// $blackFont: 900;

// $tinySize: 12px;
// $smallSize: 14px;
// $mediumSize: 16px;
// $bigSize: 18px;
// $largeSize: 20px;
// $logoSize: 26px;
// $titleSize: 36px;
// $sloganSize: 44px;

// $tinySpacing: 0.01em;
// $smallSpacing: 0.02em;
// $mediumSpacing: 0.03em;
// $bigSpacing: 0.06em;
